<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <% include ./head %>
</head>

<body >
<a name="home"></a>


<!-- navbar section-->

<header>
    <% include ./header%>
</header>
<div class=" container-fluid">

    <!-- Nav tabs -->

    <ul class="nav nav-pills nav-justified nav-pill-style pills-heading menu">
            <li class="active " >
                <a href="#article" data-toggle="pill">
                    <span class="glyphicon glyphicon-pencil "></span>
                    Articles &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
                </a>
            </li>
            <li >
                <a href="#talk" data-toggle="pill">
                    <span class="glyphicon glyphicon-comment "></span>
                    Public talk &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </li>
            <li>
                <a href="#story" data-toggle="pill">
                    <span class="glyphicon glyphicon-send "></span>
                    Success stories
                </a>
            </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade active in" id="article">


            <div class="panel panel-success panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="col-lg-4">
                                <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                            </div>

                            <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                            </div>
                        </div>
                    </div>
            </div>

            <div class="panel panel-default panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="col-lg-4">
                                <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                            </div>

                            <div class="col-lg-8 text-center">
                                <p class="text-muted">
                                    According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                    in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                    in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                    in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                    in a day brings in more laziness in the people. This may result in decreasing productivity.
                                </p>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="panel panel-success panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="col-lg-4">
                                <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                            </div>

                            <div class="col-lg-8 text-center">
                                According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.
                            </div>
                        </div>
                    </div>
            </div>

            <div class="panel panel-default panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="col-lg-4">
                                <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                            </div>

                            <div class="col-lg-8 text-center">
                                According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                                in a day brings in more laziness in the people. This may result in decreasing productivity.
                            </div>
                        </div>
                    </div>
            </div>
        </div>





        <div class="tab-pane fade" id="talk">
            <div class="panel panel-success panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="tab-pane fade" id="story">
            <div class="panel panel-success panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success panel-bottom-color">
                <div class="panel-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default panel-bottom-color">
                <div class="panel-heading featurette-heading">Sleeping for more than 6 hours decreases productivity</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="col-lg-4">
                            <img class="featurette-image img-responsive center-block" src="images/diary2.png">
                        </div>

                        <div class="col-lg-8 text-center">
                            According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.According to a latest report by the university of minnesota, sleeping for more than 6 hours
                            in a day brings in more laziness in the people. This may result in decreasing productivity.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>





    <!--making a panel for articles-->

    <!--footer-->
    <footer>
    <%include ./footer%>
    </footer>
    <!-- footer section7 end-->


</body>
</html>