<div class="footercss">

    <div class="container-fluid">
        <footer class="pad-top2">
            letsopenupnow@gmail.com <br/> <br/>
            &copy;LetsOpenUp <br/> <br/>
            <a href="#home" onclick="backToTop()">Back to top</a>
            <br/></footer>
    </div>
</div>