<nav class="navbar navbar-default navbar-static-top " role="navigation">
    <div class="container">

        <div class="navbar-header" >
            <a href="#" title="Return to the homepage" class="navbar-brand">
                <img src= "images/letsopenup1.png" height="60px" width="140px" alt="Letsopenup logo">
            </a>
            <button  type= "button" class="navbar-toggle" data-toggle ="collapse" data-target="#navHeaderCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class= "collapse navbar-collapse" id="navHeaderCollapse">
            <ul class ="nav navbar-nav navbar-right ">
                <li <% if (page_name == 'home') { %> class="active" <% } %> ><a href="/">Home</a></li>
                <li <% if (page_name == 'diary') { %> class="active" <% } %> ><a href="/diary">Diary</a></li>
                <li <% if (page_name == 'talk') { %> class="active" <% } %> ><a href="/">Talk</a></li>
                <li <% if (page_name == 'pricing') { %> class="active" <% } %> ><a href="/pricing">Pricing</a></li>
                <li <% if (page_name == 'join') { %> class="active" <% } %> ><a href="/join">Join</a></li>


            </ul>
        </div>
    </div>
</nav>