<link rel="shortcut icon" type="png" href="images/letsnew1.png" />
<title>Welcome to LetsOpenUp</title>
<meta charset="utf-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=0"">
<!-- adding icon to the title bar -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="style.css"/>
<script src="js/jquery-2.1.4.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=*" />