<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head lang="en">
        <% include ./head %>
    </head>

    <body >
    <a name="home"></a>


    <!-- navbar section-->
    <header>
        <div class="padding-bottom-nav">
    <% include ./header %>
            </div>
    </header>
    <!--carousel section1-->
    <div class="padding-top-carousal">
    <div id="myCarousel" class="carousel slide " data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>


              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img class="first-slide" src="carousel-images/trapped-in-problem.jpg" >
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>In a problem?</h1>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <img class="second-slide" src="carousel-images/wife-husband1.jpg">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Problem in Relationship?</h1>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <img class="third-slide" src="carousel-images/alone1.jpg">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Feeling alone?</h1>
                    </div>
                  </div>
                </div>

                <div class="item">
                   <img class="forth-slide" src="carousel-images/confused1.jpg">
                      <div class="container">
                          <div class="carousel-caption">
                              <h1>Don't know which way to go?</h1>
                          </div>
                      </div>
                  </div>

                  <div class="item">
                      <img class="fifth-slide" src="carousel-images/talk.jpg">
                      <div class="container">
                          <div class="carousel-caption">
                              <h1>Lets open up! </h1>
                          </div>
                      </div>
                  </div>


              </div>
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div><!-- /.carousel -->
        </div>


    <!--carousel section1 ends-->
    <!-- What we do section2-->
    <div class="container-fluid ">
        <div class="row jumbotron jumbo-no-pad-bottom text-center background-size ">
            <div class="col-lg-8 " id="problem">
                <h1 class="jumbo-text">  We want to be your friend.<br/> We feel your pain.</h1>
                <h2 class="jumbo-text">Yes, we certainly do !</h2>
                <p class="text-muted " >
                    Sometimes we feel that this world is not a fair place. We are honest with people but they are not.
                    We have many problems in life, we want to discuss them with someone and
                    sort them out. On those occasions there is no one like an understanding friend. This friend talks to us and helps us to come out of the situation. When we finally overcome the situation,
                    we know that it was our friend who helped us out. We wish to be that friend of yours.
                </p>
            </div>
            <!-- image in section 2 on right side-->
            <div class=" col-lg-4 pad-top2 ">
                <img class="jumbotron-image" src="images/symbol.png">
            </div>
        </div>
    </div>


    <!-- image end-->

    <!-- what we do section 2 <end-->


    <!-- image(girl coloring) attached in background-->
        <div class= "fixed-background-1 background-size"></div>

    <!--image code ends -->

    <!--our qualities section4 -->

    <div class="container-fluid pad2">
        <div>
            <h1 class="jumbo-text text-center">
                Why Letsopenup
            </h1>
        </div>

        <div>
            <h2 class="jumbo-text text-center">
                Because when we become friends
            </h2>
        </div>

        <div class="col-lg-4 small-text text-center ">
            <img src="images/secret.png" height="200" width="200" class="displayed">
            <br/>
            <p class="text-muted">Your secrets will be our secrets.</p>
        </div>

        <div class="col-lg-4  small-text text-center ">
            <img src="images/anonymous.png" height="200" width="180" class="displayed">
            <br/>
            You can choose to be anonymous.
        </div>

        <div class="col-lg-4 small-text text-center ">
            <img src="images/problem1.png" height="200" width="200" class="displayed">
            <br/>
            Your problem's solution will be our first job.
        </div>
        <br/>
        <br/>
    </div>

    <!--our quality section4 end -->

    <!--image(colors in hand )with attached background -->

    <div class="fixed-background-2 background-size"></div>

    <!-- image code ends-->


    <!--join letsopenup section 5-->

    <div class="container-fluid">
        <div>
            <h1 class="jumbo-text text-center">
                So lets be friends.
            </h1>
        </div>

        <div>
            <h2 class="jumbo-text text-center">
                It's easy.
            </h2>
        </div>

        <hr class="featurette-divider ">
        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading text-center">Sign up, recharge and talk to us.</h3>
                <p class="small-text text-center" align="center">Something bothering you ? No problem. We are here to help you. Come, send us a message.
                Lets discuss the problem and find a solution together.
                We will respond to you within 24 hours.
                We also respect your privacy so all this can happen while you don't reveal your identity.</br></br>
                <button type="button" class="btn btn-lg btn-primary button-color" onclick="location.href='/join'" align="center" >Signup</button>
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="images/talk-us.png">
            </div>
        </div>

        <hr class="featurette-divider ">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h3 class="featurette-heading text-center"> Or Just read our diary. </h3>
                <p class="small-text text-center" align="center">Reluctant to talk ? No problem. Come read our diary.
                It is the place where our experts share their views.
                They also share public conversations of our other friends who have kindly agreed to
                share their letsopenup experience with the whole world.
                This may help you to spot the reason of that occasional anxiety you feel.
                It will also help you to understand that life is not as serious as it looks !</br></br>
                    <button type="button"  class="btn btn-lg btn-primary button-color" onclick="location.href='/diary'">Diary</button>
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="images/diary2.png">
            </div>
        </div>


    </div>

    <!-- END THE FEATURETTES -->

    <!--footer-->
    <footer>
    <% include ./footer %>
    </footer>
    <!-- footer section7 end-->

    </body>
</html>
