    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/html">
    <head lang="en">
        <% include ./head %>
    </head>

    <body >
    <a name="home"></a>
    <!-- navbar section-->
    <header>
        <% include ./header%>
    </header>
     <!-- pricing heading-->

    <div class="pricing-heading mycontent-bottom ">
        Pricing
    </div>

    <!-- pricing heading ends-->

    <!-- pricing columns-->

    <div class="container">

        <div class="row">
            <div class="col-md-offset-2 col-sm-6 col-md-4 text-center mycontent-left mycontent-bottom ">
                <img src="images/lets-try-2.png" class="displayed">
                <div class="name-of-plan"> Lets try</div>
                <div class="small-text2">for first time users and ad hoc questions.</div>
                <div>
                    <span class="money-sign">&#x20B9</span>
                    <span class="value-of-plan">50</span>
                    <span class="slash">/</span>
                    <span class="validity-of-plan">48 hrs </span>
                </div>
                <div class="pad3">
                    <div class="small-text3" align="left" >
                        <ul>
                            <li class="list-1">Free additional 48 hours on first recharge.</li>
                            <li class="list-1">48 hours start from the time of recharge.</li>
                            <li class="list-1">Target response time 24 hours.</li></br>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-6 text-center mycontent-bottom ">
                <img src="images/lets-go-2.png" class="displayed">
                <div class="name-of-plan">Lets go</div>
                <div class="small-text2">for discussing detailed questions at ease.</div>
                <div>
                    <span class="money-sign">&#x20B9</span>
                    <span class="value-of-plan pad2"> 500</span>
                    <span class="slash">/</span>
                    <span class="validity-of-plan">30 days</span>
                </div>
                <div class="pad3">
                    <div class="small-text3"  align="left">
                        <ul>
                            <li class="list-1">Free additional 30 days on first recharge.</li>
                            <li class="list-1">Target response time 24 hours.</li>
                            <li class="list-1 color-tick">Recommended, saves 50% of the cost.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- pricing columns ends here-->

    <div class="container-fluid pad2 " align="center">
        <button type="button"  class="btn btn-lg btn-primary button-color" href="#" >Recharge Now</button>
        </div>

        <!--footer-->

    <footer>
        <%include ./footer%>
    </footer>
        <!-- footer section7 end-->

    </div>
    </body>
    </html>